* {
  box-sizing: border-box;
}

$green: #94d7a2;
$pink: #f8bcbc;
$blue: #4d5b9e;
$dark-blue: #293264;
$dark-white: #f5f7fb;
$light-blue: #d6dbf5;
$lighter-blue: #dbdef0;
$light-yellow: #fffad1;
$grey: #888;
$purple: rgb(147 30 140);
$cyan: #00ffb8;
body {
  align-items: center;
  background: $dark-white;

  display: flex;
  font-family: 'Karla', sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

main {
  background-color: whitesmoke;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 114px 0px $light-blue;
  -moz-box-shadow: 0px 0px 114px 0px $light-blue;
  box-shadow: 0px 0px 114px 0px $light-blue;

  min-height: 250px;
  min-width: 250px;
  padding: 20px;
}

h1 {
  background: -webkit-linear-gradient(left, $purple, $cyan);
  background: -o-linear-gradient(right, $purple, $cyan);
  background: -moz-linear-gradient(right, $purple, $cyan);
  background: linear-gradient(to right, $purple, $cyan);
  -webkit-background-clip: text;
  font-size: 4em;
  margin-top: 0;
  -webkit-text-fill-color: transparent;
}
